* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

div img {
  height: 450px;
  width: 810px; }

img {
  height: 76px;
  width: 38px; }

footer {
  position: absolute;
  top: 422px;
  right: 8px;
  color: #FFFFFF; }

.fade {
  height: 450px;
  width: 810px;
  position: absolute;
  top: 100px;
  left: 100px; }

/*
.fade2 {
   opacity: 1;
   transition: opacity 1s ease-in-out;
   -moz-transition: opacity 1s ease-in-out;
   -webkit-transition: opacity 1s ease-in-out;
   }

   .fade2:hover {
      opacity: 0.0;
      }
*/
/*
#cf2 img {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf2 img.transparent {
opacity:0;
}
#cf_onclick {
cursor:pointer;
}
*/
/*
.full-opacity{
  opacity: 1;
  transition: opacity 1s ease-in-out;
  //transition-delay: 1s;
  //transition-duration: 1s;
  //transition-property: opacity;
}
*/
/*
.zero-opacity{
  opacity: .1;
  transition: opacity 1s ease-in-out;
  //transition-delay: 1s;
  //transition-duration: 1s;
  //transition-property: opacity;
}
*/
.left {
  position: absolute;
  top: 286px;
  left: 100px;
  z-index: 2; }

.low-opacity {
  opacity: 0.5; }

.right {
  position: absolute;
  top: 286px;
  left: 872px;
  z-index: 2;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }

.container {
  margin-top: 100px;
  margin-left: 100px;
  position: relative;
  height: 450px;
  width: 810px; }
