*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
 }

div img{
  height: 450px;
  width: 810px;
}

img{
  height: 76px;
  width: 38px;
}

footer{
  position: absolute;
  top: 422px;
  right: 8px;
  color: #FFFFFF;
}

.left {
  position: absolute;
  top: 286px;
  left: 100px;
}

.low-opacity {
  opacity: 0.5;
}

.right {
  position: absolute;
  top: 286px;
  left: 872px;
  // the following is from css tricks to flip my left arrow
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.container{
  margin-top: 100px;
  margin-left: 100px;
  position: relative;
  height: 450px;
  width: 810px;
}
