* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

img {
  height: 450px;
  width: 810px; }

.container {
  margin-top: 100px;
  margin-left: 100px;
  height: 450px;
  width: 810px; }
